<div class="home page hidden" data-component="Home">
    {{> back}}
    <div class="btns">
        {{> button type="secondary" text="Multiplayer" id="multiplayer-button" }}
        {{> button type="secondary" text="Sound: on" id="toggle-sound-button" }}
        {{> button type="secondary" text="Credits" id="credits-button" }}
    </div>
    <div class="welcome">
        <h1>Welcome back</h1>
        <h1 id="home-name"></h1>
    </div>
</div>
