<div class="home page hidden" data-component="Home">
    {{> back}}
    <h1 id="home-name">Hello</h1>
    <div class="btns">
        {{> button type="primary" text="Create room" id="create-room-button" }}
        {{> button type="primary" text="Join room" id="join-room-button" }}
    </div>
</div>
