<div class="join page hidden" data-component="Join">
    {{> back}}
    <h1>Join room</h1>
    <div class="inputs">
        <input type="number" class="room-input active" maxlength="1">
        <input type="number" class="room-input" maxlength="1" disabled>
        <input type="number" class="room-input" maxlength="1" disabled>
        <input type="number" class="room-input" maxlength="1" disabled>
    </div>
    {{> button type="secondary" text="Join" id="join-room-button" disabled="true" }}
</div>