<div class="landing page hidden" data-component="Landing">
    <img src="/assets/images/vroom-logo.png" alt="Vroom Logo">
    <div class="login">
        <h1>Enter username</h1>
        <div class="inputs">
            <input type="text" class="pseudo-input active" maxlength="1">
            <input type="text" class="pseudo-input" maxlength="1" disabled>
            <input type="text" class="pseudo-input" maxlength="1" disabled>
        </div>
        {{> button type="primary" text="Enter game" id="start-button" disabled="true"}}
    </div>
    <img src="/assets/images/gobelins-logo.png" alt="Gobelins Logo">
</div>
