<div class="landing page hidden" data-component="Landing">
    <img src="/assets/images/vroom-logo.png" alt="Vroom Logo">
    <div class="login">
        <h1>Enter username</h1>
        <input type="text" placeholder="Pseudo" id="pseudo-input">
        {{> button type="primary" text="Start race" id="login-button"}}
    </div>
    <img src="/assets/images/gobelins-logo.png" alt="Gobelins Logo">
</div>
