<div class="multiplayer page hidden" data-component="Multiplayer">
    {{> back}}
    <h1>Multiplayer</h1>
    {{> button type="secondary" text="Create room" id="create-room-button" }}
    {{> button type="secondary" text="Join room" id="join-room-button" }}
</div>
