@font-face {
	font-family: 'SuperFont';
	src: url('/assets/fonts/04b03.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@mixin superfont {
	font-family: 'SuperFont';
}
