<div id="index" data-page="Homepage">
    {{!-- <a href="/route">Go to Route</a> --}}
    <div data-component="FullscreenButton" class="fullscreen-button"></div>
    <div class="ui-container">
        {{> landing }}
        {{> home }}
        {{> skin }}
        {{> multiplayer }}
        {{> track }}
        {{> lobby }}
        {{> credits }}
        {{> join }}
        {{> rotate }}
    </div>
</div>