<div id="index" data-page="Homepage">
    {{!-- <a href="/route">Go to Route</a> --}}
    <div class="inputs-areas">
        <div class="lane-button">
            <div class="left-button"></div>
            <div class="right-button"></div>
        </div>
        <div class="speed-slider"></div>
    </div>
    <div data-component="FullscreenButton"></div>
</div>