@use '../tools/breakpoints';
@use '../tools/mixins';

.ui-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
	pointer-events: all;
	background-size: cover;
	@include mixins.flex-center;
	
	@media (orientation: portrait) {
		background: url('/assets/images/bg-portrait.png') no-repeat center center fixed;
	}

	@media (orientation: landscape) {
		background: url('/assets/images/bg-landscape.png') no-repeat center center fixed;
	}

	@include breakpoints.desktop {
		display: none;
	}

	.hidden {
		display: none;
	}
}
